:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --logo-text-color: #2196f3;
  --accent-color: #000000;
  --active-link-text-color: #2196f3;
  --footer-address-text-color: #ffffff99;
  --header-backgroung-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --button-background-color: #2196f3;
}

body {
  font-family: 'Raleway', 'Roboto', sans-serif;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.link-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.studio:hover,
.studio:focus {
  color: var(--active-link-text-color);
}

.contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.mail:hover,
.mail:focus {
  color: var(--active-link-text-color);
}

.header {
  background-color: var(--header-backgroung-color);
}

.hero {
  background-color: var(--secondary-background-color);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}
.hero-button {
  background-color: var(--button-background-color);
}
.order {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
}
.main {
  background-color: var(--primary-background-color);
}

.noname-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.noname-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.activities-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.teem {
  background-color: var(--tertiary-background-color);
}

.teem-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.teem-member {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.teem-member-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer {
  background-color: var(--secondary-background-color);
}
.footer-logo-accent {
  color: var(--tertiary-text-color);
}
.address-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footer-address-text-color);
}
.physical {
  color: var(--tertiary-text-color);
}
